.mailbox {
    border: 1px solid black;
    padding: 1px 20px;
    margin-bottom: 5px;
    width: 300px;
}


.mailbox.full {
    background-color: rgb(230, 111, 111);
}

.title {
    font-size: 30px;
    color: black;
}

.title:hover {
    color: white;
}

